@font-face {
  font-family: "CascadiaCode";
  src: url(/assets/fonts/CascadiaCode.ttf);
  display: swap;
}

body {
  margin: 0;
  padding: 15px 20px;
  min-height: 99%;
  width: 100%;
  min-width: 550px;
  color: #d9ed92;
  background: #012a4a;
  font-family: "CascadiaCode", monospace;
  overflow-x: hidden;
}

::selection {
  color: #211830;
  background-color: #a9d6e5;
}

textarea {
  position: absolute;
  left: -1000px;
}

b {
  font-weight: bold;
  text-decoration: underline;
}

/* Cursor Start */
.cursor {
  font-size: 12px;
  color: #3bdcce;
  background-color: #3bdcce;
  position: relative;
  opacity: 1;
  height: 1.5em;
  width: 10px;
  max-width: 10px;
  transform: translateY(4px);
  overflow: hidden;
  text-indent: -5px;
  display: inline-block;
  text-decoration: blink;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#command {
  cursor: text;
  height: 50px;
  color: #f54768;
}
#liner {
  line-height: 1.3em;
  margin-top: -2px;
  animation: show 0.5s ease forwards;
  animation-delay: 1.2s;
  opacity: 0;
}

/* #liner.password::before {
  content: "Password:";
} */
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Cursor End */
p {
  display: block;
  line-height: 1.3em;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  letter-spacing: 0.05em;
  animation: typing 0.5s steps(30, end);
}
.no-animation {
  animation: typing 0 steps(30, end);
}
.margin {
  margin-left: 20px;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.index {
  color: #dcdccc;
}
.color2 {
  color: #f8efe8;
}
.command {
  color: #f54768;
  text-shadow: 0 0 5px #f54768;
}
.error {
  color: #b89076;
}
.white {
  color: #fff;
}
.inherit,
a {
  color: #09e7d1;
}
a {
  text-decoration: inherit;
}
a:hover {
  background: #f54768;
  color: #211830;
}
a:focus {
  outline: 0;
}

/* Media Queries */

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
